.App {
  width: 100%;
  text-align: center;
  background-color: #a7d3fd;
  min-height: 100vh;
  min-width: 100vw;
  font-size: calc(8px + 2vmin);
}

.AppBar {
  background-color: #a7d3fd;
}

.primaryBackground {
  background-color: #a7d3fd;

}

.secondaryBackground {
  background-color: #282c34 !important
}

input {
  color: white !important
}

.Footer {
  color: white !important
}
